@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rubik&family=Zen+Kurenaido&display=swap');

/* NavBar */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif;
    font-weight: 800;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: linear-gradient(to right, #141E30, #0d203d);
    padding-bottom: 2rem;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 23px;
    position: relative;
}

nav a {
    color: #d4af37;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.5s ease;
}

nav a:hover {
    color: #d4af37;
    transition: all 0.5s ease;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #d4af37;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


/* Main Content */

.main {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main h1 {
    padding: 10px;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 20px;
    color: #d4af37;
}

.main p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d4af37;
    font-size: 20px;
}


/* Information Page*/

.information {
    padding: 15rem 0;
    padding-bottom: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-question {
    padding: 0rem 40rem 5rem 40rem;
    font-size: 14rem;
    color: #d4af37;
}

.information_header {
    padding: 0rem 40rem 0rem 40rem;
    color: #d4af37;
    font-size: 40px;
}

.information_text {
    padding: 0rem 40rem 0rem 40rem;
    color: #d4af37;
    font-size: 20px;
}


/* */

.gaming {
    margin: 10px;
    border-radius: 20px;
    padding: 20px;
    width: 320px;
    height: 350px;
    background-color: #141E30;
    margin-top: 20px;
    
}

.bigtext {
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: #d4af37;
}

.div2 {
    display: flex;
}

.game {
    display: flex;
}

.img1 {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

.normtext {
    font-size: 15px;
    color: #d4af37;
    padding: 3px;
}

.img2 {
    width: 70px;
    height: auto;
    padding-right: 10px;
}

.imglink {
    width: 120px;
    height: auto;
    padding-top: 5px;
    padding-right: 5px;
}

.gaming h1 a {
    color: #d4af37;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.5s ease;
}

.gaming h1 a {
    color: #d4af37;
    transition: all 0.5s ease
}

.gaming h1 a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #d4af37;
    position: top;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.gaming h1 a:hover::before {
    width: 100%;
}

.ninten {
    width: 105px;
    height: 40px;
    padding-top: 5px;
    padding-right: 5px;
    
}


/* Footer */

.Footer {
    background: linear-gradient(to right, #141E30, #0d203d);
    padding-bottom: 4rem;
    padding-top: 4rem;
    height: 25vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    color: #d4af37;
}


/* Första Columnen*/

.Footer_Header_1 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    font-size: 20px;
}

.Footer_Header_1 h2 {
    margin-bottom: 2rem;
}

.Footer_Header_1 a {
    color: #d4af37;
    text-decoration: none;
    margin-bottom: 0.5rem;
}


/* Andra Columnen*/

.Footer_Header_2 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    font-size: 20px;
}

.Footer_Header_2 h2 {
    margin-bottom: 2rem;
}

.Footer_Header_2 a {
    color: #d4af37;
    text-decoration: none;
    margin-bottom: 0.5rem;
}


/* Tredje Columnen*/

.Footer_Header_3 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    font-size: 20px;
}

.Footer_Header_3 h2 {
    margin-bottom: 2rem;
}

.Footer_Header_3 a {
    color: #d4af37;
    text-decoration: none;
    margin-bottom: 0.5rem;
}